
:root {
    --branco: #FFFFFF;
    --laranja: #FFB050;
    --azul: #4894FF;
}


.container {
    background-color: #E5E5E5;
    /*border: 2px solid blue;*/
    width: 360px;
    height: 2332px;
    font-family: Montserrat;
}

.statusBar {
    background-color: white;
    width: 100%;
    height: 33px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.clock {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    width: 70px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.signal,.battery,.wifi {
    width: 16px;
    height: 16px;
}

.avatar { /*ESTILIZACAO AVATAR DO USUARIO*/
    width: 223px;
    height: 57px;
    margin: 32px auto 22px 16px;
    display: flex;
    justify-content: space-between;
}

.avatar_img {
    width: 57px;
    height: 57px;
    border-radius: 50%;
}

.avatar_text {
    max-width: 166px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.avatar_text p {
    height: 22px;
    font-size: 14px;
    color: #A3A3A3;
}

h3 {/*OLA, SONIA*/
    color: #464646;
    font-size: 22px;
}

h4 {/*DIAS*/
    color: #464646;
    font-size: 16px;
    padding: 8px 0 2px 16px;
}
/*GERAL*/
.today,.tomorrow, .wednes {/*TITULOS*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* remoto divs geral depois a parte de cima e debaixo */
.coRe {
    width: 328px;
    height: 170px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cr1 {
    width: 328px;
    height: 69px;
    border-radius: 8px 8px 0px 0px;
    background-color: white;
}

.cr2{
    width: 328px;
    height: 100px;
    border-radius: 0px 0px 8px 8px;
    background-color: white;
}
/* cr1 - individual */
.av {
    position: absolute;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin: 20.5px 16px;
}

.nome {
    position: absolute;
    margin: 16px 64px;
    font-weight: bold;
    font-size: 14px;
}

.emVid {
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 37.34px 4em;
}

.tipoConsulta {
    position: absolute;
    margin: 38px 88px;
    font-size: 12px;
    color: #A3A3A3;
}

.emChat {
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 1em 0 0 280px;
    border-radius: 50%;
}
/* cr2 - individual */
.horario {
    position: absolute;
    margin: 9px 16px;
    font-size: 12px;
    font-weight:500;
}
/* BUTTONS */
.cr2 button {/*mesma coisa pros dois buttons*/
    position: absolute;
    width: 139px;
    height: 48px;
    border-radius: 8px;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
}

.vid {
    margin: 36px 16px;
    border: 0;
    border-radius: 8px;
    background-color: #FFB050;

    color: white;
}

.chat {
    margin: 36px 0 0 173px;
    border: 1px solid #ECECEC;
    border-radius: 8px;
    background-color: white;
}
/* local particularidades */
.cl2{
    width: 328px;
    height: 100px;
    border-radius: 0px 0px 8px 8px;
    background-color: white;
}

.ende {/* button endereco */
    position: absolute;
    width: 296px;
    height: 48px;
    margin: 36px 16px;
    border: 0;
    border-radius: 8px;
    background-color: #4894FF;

    font-family: Montserrat;
    color: white;
}
