form {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 340px;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 1em;
    display: none;
    justify-content: space-around;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
}

/* S T A N D A R T */
.form-group input,select {
    height: 56px;
    background-color: white;
    border: 1px solid #ECECEC;
    padding: 1em;
    border-radius: 0.5em;
    color: #CFCFCF;
}
.form-group input::placeholder , select::placeholder {
    color: #CFCFCF;
}

/* H O V E R */
.form-group input:hover , select:hover {
    border-color: #CFCFCF;
    color: #ADADAD;
}
.form-group input:hover::placeholder , select:hover::placeholder {
    color: #ADADAD;
}

/* F O C U S */
.form-group input:focus-visible, select:focus-visible,
.form-group input:focus, select:focus { 
    /*tem 2 tipos de focus pq no inspect tava me dando agonia kk*/
    border-color: #4894FF;
}
.form-group input:focus::placeholder,
.form-group select:focus::placeholder {
    opacity: 0;
}

.submit {
    width: 30%;
    height: 56px;
    position: relative;
    left: 70%;
    padding: 1em;
    border-radius: 0.5em;
    border: none;
    background-color: #4894FF;
    color: white;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
}
.submit:hover{
    background-color: #4786F0;
}
.submit:active {
    background-color: #4373DC;
    border: 2px solid #57A4FF;
}
.submit:focus {
    background-color: #4062C9;
    border: 2px solid #4894FF;
}