.navbar {
    width: 300px;
    height: 100vh;
    position: static;
    border-radius: 0;
    display: block;
}

.navbar-content {
    width: 268px;
    padding: 32px 16px;
    flex-direction: column;
    row-gap: 16px;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
}
.nav p {
    font-size: 28px;
}
.nav svg {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}