@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('./reset.css');
@import url('./buttons.css');
@import url('./card.css');
@import url('./header.css');
/* @import url('./nav.css'); NAO TEM NADA AINDA(VOLTOU PRA ANTES DE FAZER A NAVBAR)*/


body{
    font-family: 'Montserrat';
    background-color: #E5E5E5;
}

h2,h3,h4{
    color: #464646;
    font-weight: 700;
}

